<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show All Todos</title>
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<body>
<a href ="/">Show All Todos</a><br />
<b>Task Name   :</b><span th:text="${todo.taskname}" ></span><br />
<b>Due Date    :</b><span th:text="${todo.duedate}" ></span><br />
<b>Priority    :</b><span th:text="${todo.priority}" ></span><br />
<b>Description :</b><span th:text="${todo.description}" ></span><br />
<!--<b>Completed   :</b><span th:text="${todo.completed}" ></span><br />-->
<a th:href="@{/delete/{id}(id=${todo.id})}">Delete this todo</a>
</body>
</html>