<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO Form</title>
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<body>
<h2>TODO Form</h2>
<form action="#"
      th:action = "@{/process}"
      th:object = "${todo}"
      method="post">
    <input type = "hidden" th:field="*{id}" />
    Task Name   :<input type = "text" th:field = "*{taskname}" />
    <span th:if = "${#fields.hasErrors('taskname')}"
          th:errors = "*{taskname}"></span> <br />
    Due Date   :<input type = "text" th:field = "*{duedate}" />
    <span th:if = "${#fields.hasErrors('duedate')}"
          th:errors = "*{duedate}"></span> <br />
    Priority   :<input type = "text" th:field = "*{priority}" />
    <span th:if = "${#fields.hasErrors('priority')}"
          th:errors = "*{priority}"></span> <br />
    Description :<textarea rows = "3" th:field = "*{description}" />
    <span th:if = "${#fields.hasErrors('description')}"
          th:errors = "*{description}"></span> <br />
    <!--Completed :<input type = "text" th:field = "*{completed}" />-->
    <!--<span th:if = "${#fields.hasErrors('completed')}"-->
          <!--th:errors = "*{completed}"></span> <br />-->
    <br />
    <input type = "submit" value = "Submit" />
</form>
</body>
</html>